
#container
{
  display: grid;
  width: 960px;
  margin: 0 auto;
 
}

.a
{
 display: grid;
 grid-area: 1 / 1 / 2 / 6;
 justify-content: center;
 align-items: center;
 text-align: center;
 line-height: 100px;
 
}

.b
{
 display: grid;
 grid-area: 2 / 1 / 6 / 1;
 line-height: 600px;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}

.c
{
 display: grid;
 grid-area: 2 / 2 / 3 / 4;
 line-height: 200px;
 justify-content: center;
 align-items: center;
 text-align: center;
 
 
}

.d
{

 display: grid;
 grid-area: 2 / 4 / 2 / 6;;
 line-height: 200px;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}

.e
{
display: grid;
 grid-area: 3 / 2 / 4 / 2;
 line-height: 250px;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}

.f
{
 display: grid;
 grid-area: 3 / 3 / 4 / 3;
 line-height: 250px;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.g
{
 display: grid;
 grid-area: 3 / 4 / 4 / 4;
 line-height: 250px;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.h
{
 display: grid;
 grid-area: 3 / 5 / 4 / 5;
 line-height: 250px;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}

.i
{
display: grid;
 grid-area:  4 / 2 / 5 / 6;
 line-height: 150px;
 justify-content: center;
 align-items: center;
 text-align: center;
}
}
  
/* desktop */
@media (min-width: 768px) and (max-width: 959px){

   #container
     {
       display: grid;
       width: 480px;
       margin: 0 auto;
     }
   
   .a
     {

      display: grid;
      grid-area: 1 / 1 / 2 / 6; 
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 100px;
      
     }
   
   .b
     {

      display: grid;
      grid-area: 2 / 1 / 6 / 1;
      line-height: 600px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
     }
   
   .c
     {

      display: grid;
      grid-area: 2 / 2 / 3 / 4;
      line-height: 200px;
      justify-content: center;
      align-items: center;
      text-align: center;
     
     }
   
   .d
     {
      display: grid;
      grid-area: 2 / 4 / 2 / 6;;
      line-height: px;
      justify-content:200 center;
      align-items: center;
      text-align: center;
      
     }
   
   .e
     {
     display: grid;
      grid-area: 3 / 2 / 4 / 2;
      line-height: 250px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
     }
   
   .f
     {
      display: grid;
      grid-area: 3 / 3 / 4 / 3;
      line-height: 250px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
     }
   
   .g
     {
      display: grid;
      grid-area: 3 / 4 / 4 / 4;
      line-height: 250px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
     }
   
   .h
     {
      display: grid;
      grid-area: 3 / 5 / 4 / 5;
      line-height: 250px;
      justify-content: center;
      align-items: center;
      text-align: center;
     }
   
   .i
     {
      display: grid;
      grid-area: 4 / 2 / 5 / 6;
      line-height: 150px;
      justify-content: center;
      align-items: center;
      text-align: center;
     }
   
   }

   /* Mobile */

   @media screen and (max-width: 767px)
{ 
  #container
  {
    display: grid;
    width: 480px;
    margin: 0 auto;
  }

  .a
  {
   display: grid;
   grid-area: 1 / 1 / 1 / 3; 
   justify-content: center;
   align-items: center;
   text-align: center;
   line-height: 75px;
  }

  .b
  {
   display: grid;
   grid-area: 2 / 1 / 2 / 3;
   line-height: 150px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .c
  {
   display: grid;
   grid-area: 3 / 1 / 3 / 3;
   line-height: 125px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .d
  {
   display: grid;
   grid-area: 4 / 1 / 4 / 3;;
   line-height: 125px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .e
  {
   display: grid;
   grid-area: 5 / 1 / 5 / 1;
   line-height: 250px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .f
  {
   display: grid;
   grid-area: 5 / 2 / 5 / 2;
   line-height: 250px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .g
  {
   display: grid;
   grid-area: 6 / 1 / 6 / 1;
   line-height: 250px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .h
  {
   display: grid;
   grid-area: 6 / 2 / 6 / 2;
   line-height: 250px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .i
  {
  display: grid;
   grid-area: 7 / 1 / 7 / 3;
   line-height: 80px;
   justify-content: center;
   align-items: center;
   text-align: center;
  }
}

  
