
@media screen and (max-width: 768px){

    .a
    {
        background-color: rgb(56, 56, 185);
        border-bottom: none;
    }
    .b
    {
        
        background-color:rgb(143, 143, 212);
        border-bottom: none;
    }
    .c
    {
        background-color: rgb(15, 13, 99);  
        border-bottom: none;
    }
    .d
    {
        background-color: rgb(15, 13, 99);   
        border-bottom: none;
    }
    .e
    {
        background-color: rgb(86, 97, 243);  
        border-bottom: none;
    }
    .f
    {
        background-color: rgb(86, 97, 243); 
        border-left: none;  
        border-bottom: none;
    }
    .g
    {
        background-color: rgb(86, 97, 243); 
        border-bottom: none;  
    }
    .h
    {
        background-color:rgb(86, 97, 243); 
        border-left: none;   
        border-bottom: none;
    }
    .i
    {
        background-color: rgb(56, 56, 185);;    
    }
    
    }
    
    @media screen and (min-width: 769px){
        
        .a
        {
            background-color: rgb(56, 56, 185);  
            border-bottom: none;
        }
        .b
        {
            background-color:rgb(143, 143, 212) ;  
            border-right: none;
            border-bottom: none;
        }
        .c
        {
            background-color: rgb(15, 13, 99);
            border-right: none;   
        }
        .d
        {
            background-color: rgb(15, 13, 99);    
            border-bottom: none;
        }
        .e
        {
            background-color:rgb(86, 97, 243);    
            border-right: none; 
            border-bottom: none;
        }
        .f
        {
            background-color:rgb(86, 97, 243); 
            border-right: none;   
            border-bottom: none;
        }
        .g
        {
            background-color:rgb(86, 97, 243); 
            border-right: none;     
            border-bottom: none;
        }
        .h
        {
            background-color:rgb(86, 97, 243); 
            border-bottom: none;    
        }
        .i
        {
            background-color: rgb(56, 56, 185);;   
        }
    
        }